* {
  background-color: rgb(250, 240, 253);
}

h1 {
  background: linear-gradient(to bottom, rgb(250, 246, 253), #ecdefd);
  font-size: 3em;
  text-align: center;
  border: 4px double rgb(255, 255, 255);
  border-radius: 6px;
  width: 50%;
  margin: 40px auto;
  padding: 18px;
  letter-spacing: 3px;
  color: rgba(137, 123, 138, 0.849);
}

#bio {
  color: rgba(103, 63, 177, 0.596);
  text-align: center;
  padding: 50px 80px;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 28px;
}

footer a{
  text-decoration: none;
  margin: 40px;
  display: inline-block;
  font-size: 12px;
  color: rgb(105, 105, 243);
  letter-spacing: .6px;
  background: rgb(251, 249, 255);
  padding: 2.5px;
  border-radius: 5px;
}